<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://especportfunctionapp20230813132636.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0fc68798-99df-4285-94f5-fbcedb8f9612/resourcegroups/tcc-resource-group/providers/Microsoft.Web/sites/EspecPortFunctionApp20230813132636</ResourceId>
    <UserName>$EspecPortFunctionApp20230813132636</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://especportfunctionapp20230813132636.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>